.info-updated{
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.info-error{
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.info__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    font-weight: bold;
}

.todo__content {
    width: 800px;
    margin: 0 auto;
}

.todo__write {
    margin-top: 60px;
}

.write-form {
    display: flex;
    justify-content: space-between;
}

.write-form__input--text input {
    padding: 10px;
    width: 550px;
    height:100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 18px;
}

.write-form__button--submit{
    padding: 10px;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.todo__list{
    margin-top: 60px;
    padding-left: 0;
}

.list-item{
    padding: 0 20px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item__text{
    margin: 20px 0;
    font-size: 18px;
    border: none;
}

.list-item__text {
    width: 550px;
    font-weight: bold;
}

.list-item__inner--left{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item__inner--right{
    width: 10%;
    text-align: right;
}

.list-item__button{
    padding: 5px 10px;
    width: 50px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.button--update{
    background: #0000ff;
}

.button--delete{
    background: #ff0000;
}