.info-updated{
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.info-error{
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.info__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    font-weight: bold;
}

.todo__content {
    max-width: 1000px;
    margin: 0 auto;
}

.todo__write,
.todo__search {
    margin-top: 60px;
    width :100%;
}

.write-form,
.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.write-form__input--text,
.search-form__input--text {
    width: 60%;
}

.write-form__input--text input,
.write-form__input--category select,
.search-form__input--text input,
.search-form__input--category select {
    padding: 10px;
    width:100%;
    height:100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 18px;
}

.write-form__input--category,
.search-form__input--category {
    width: 20%;
}

.write-form__button,
.search-form__button {
    width: 15%;
}

.write-form__button--submit,
.search-form__button--submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.todo__table{
    margin-top: 60px;
    width: 100%;
    text-align: left;
}

.todo__table--row{
    border-bottom: 1px solid #ddd;
}

.todo__table--text{
    width: 60%;
    padding: 12px;
}

.todo__table--category{
    width:28%;
    padding: 12px;
    font-weight: normal;
}

.todo__table--heading {
    font-size: 18px;
    font-weight: bold;
}

.todo__table--text input,
.todo__table--category input {
    width:100%;
    font-size: 18px;
    border: none;
}

.todo__table--button{
    width: 6%;
    text-align: right;
    padding-right: 12px;
}

.table-button {
    padding: 5px 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.button--update {
    background: #0000ff;
}

.button--delete {
    background: #ff0000;
}
